@font-face {
  font-family: "VTB Group Cond Book";
  src: url("//db.onlinewebfonts.com/t/535f840c3f8648137acc62e170b62847.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/535f840c3f8648137acc62e170b62847.woff") format("woff");
  font-weight: 400; }

.top__text, .flowers__description, .questions__question, .questions__answer, .form__required_text, .form__label, .form__text_under_password, .form__checkbox_label, .footer__location,
.footer__madeby,
.footer__partner p {
  font-family: "VTB Group Cond Book", "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-align: left; }

* {
  padding: 0;
  margin: 0; }

html {
  background-color: #e5e5e5;
  max-width: 540px;
  margin: 0 auto;
  height: 100%; }

body {
  max-width: 540px;
  position: relative;
  min-width: 320px;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
      grid-template: -webkit-min-content 1fr -webkit-min-content;
      grid-template: min-content 1fr min-content; }

.header {
  position: absolute;
  top: 16px;
  left: 24px;
  z-index: 2; }

.header__logo {
  z-index: 3; }

.main {
  position: relative;
  min-width: 320px;
  max-width: 540px;
  width: 100vw;
  margin: 0; }

.top {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding: 64px 24px 0;
  width: 100%;
  height: 568px;
  z-index: 1;
  background: -o-linear-gradient(292deg, #ffffff 13%, #f3f7fa 13%, #f3f7fa 50%, #ffffff 50%);
  background: linear-gradient(158deg, #ffffff 13%, #f3f7fa 13%, #f3f7fa 50%, #ffffff 50%); }

.top::after {
  content: '';
  background: url(../images/dest/top_bg.png) 100% 0 no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 304px;
  right: 0;
  z-index: -1; }

.top__slogan {
  font-family: "Yeseva One", Georgia, serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #002882; }

.top__text {
  margin-top: 16px;
  color: #2f3441; }
  .top__text--200 {
    width: 60%; }

.top__goToChooseBtn,
.question__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: "VTB Group Cond Book", "Open Sans", sans-serif, "Open Sans", sans-serif;
  color: #002882;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .top__goToChooseBtn span,
  .question__btn span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 56px;
    width: 56px;
    margin-right: 16px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #002882;
    border-radius: 50%;
    font-size: 130px; }
    .top__goToChooseBtn span svg,
    .question__btn span svg {
      stroke: #002882; }
  .top__goToChooseBtn:hover,
  .question__btn:hover {
    text-decoration: underline; }
    .top__goToChooseBtn:hover span,
    .question__btn:hover span {
      background-color: #002882; }
    .top__goToChooseBtn:hover svg,
    .question__btn:hover svg {
      stroke: #ffffff; }

.top__goToChooseBtn {
  margin-top: 65px; }

.flowers {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 16px;
  padding-bottom: 40px;
  width: 100%;
  overflow: hidden;
  background: -o-linear-gradient(292deg, #ffffff 200px, #dce0eb 200px, #dce0eb 201px, #ffffff 201px);
  background: linear-gradient(158deg, #ffffff 200px, #dce0eb 200px, #dce0eb 201px, #ffffff 201px); }

.flowers__page {
  position: relative;
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #6B7683;
  font-family: "Yeseva One", Georgia, serif;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  left: 24px;
  font-size: 36px;
  line-height: 40px; }
  .flowers__page::after {
    position: absolute;
    content: '/04';
    font-size: 12px;
    line-height: 16px;
    top: 3px;
    right: -20px; }

.flowers__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400%;
  left: 150%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out; }

.flowers__flower {
  position: relative;
  width: 100%;
  padding: 0 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: start;
      align-self: flex-start; }

.flowers__name {
  font-family: "Yeseva One", Georgia, serif;
  color: #002882;
  font-size: 48px;
  line-height: 40px;
  font-weight: lighter;
  margin: 12px 0 4px; }

.flowers__img {
  height: 100%; }

.flowers__description {
  color: #2f3441;
  height: auto;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.flowers__description-hidden {
  height: 0; }

.flowers__order_btn {
  font-family: "VTB Group Cond Book", "Open Sans", sans-serif;
  color: #002882;
  font-size: 15px;
  line-height: 16px;
  background-color: #ffffff;
  border: 1px solid #002882;
  width: 272px;
  height: 32px;
  border-radius: 16px;
  margin-top: 20px;
  outline: none; }
  .flowers__order_btn:hover {
    background-color: #002882;
    color: #ffffff; }

.flowers__arrow {
  background-color: transparent;
  position: absolute;
  top: 256px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 56px;
  width: 56px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #002882;
  border-radius: 50%;
  font-size: 130px;
  cursor: pointer;
  outline: none;
  z-index: 5; }
  .flowers__arrow svg {
    stroke: #002882; }
  .flowers__arrow:not(:disabled):hover {
    background-color: #002882; }
    .flowers__arrow:not(:disabled):hover svg {
      stroke: #ffffff; }

.flowers__prev {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  left: 24px; }

.flowers__next {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  right: 24px; }

.flowers__next:disabled,
.flowers__prev:disabled {
  border-color: #6b7683; }
  .flowers__next:disabled svg,
  .flowers__prev:disabled svg {
    stroke: #6b7683; }

.questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -o-linear-gradient(292deg, #ffffff 155px, #cceeff 155px, #cceeff 375px, #ffffff 375px, #ffffff 440px, #dce0eb 440px, #dce0eb 441px, #ffffff 441px);
  background: linear-gradient(158deg, #ffffff 155px, #cceeff 155px, #cceeff 375px, #ffffff 375px, #ffffff 440px, #dce0eb 440px, #dce0eb 441px, #ffffff 441px); }

.question__btn {
  margin: 0 24px 32px; }

.questions__item {
  max-height: 64px;
  padding: 20px 24px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #002882;
  overflow: hidden;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -webkit-transition-delay: 0;
       -o-transition-delay: 0;
          transition-delay: 0;
  position: relative; }

.questions__question {
  width: 67.5%;
  display: inline-block;
  color: #002882;
  cursor: pointer;
  font-weight: 600; }
  .questions__question::after {
    content: '\2193';
    font-size: 10px;
    color: #002882;
    position: absolute;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
    border-radius: 50%;
    top: 20px;
    right: 24px;
    width: 24px;
    height: 24px;
    border: 0.5px solid #002882;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }

.questions__answer {
  color: #002882;
  margin: 25px 0 20px; }

.questions__item--opened {
  max-height: 220px; }
  .questions__item--opened .questions__question::after {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }

.questions__any_questions {
  height: 192px;
  padding: 20px 24px;
  font-family: "Yeseva One", Georgia, serif;
  font-size: 12px;
  line-height: 16px;
  color: #002882;
  background: url(../images/dest/bottom_bg.png) 100% 0% no-repeat; }
  .questions__any_questions p {
    width: 60%;
    min-width: 200px;
    font-weight: 400; }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 10;
  max-width: 540px;
  min-width: 320px;
  width: 100vw;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 16px 24px 24px;
  position: fixed;
  top: 0;
  bottom: auto;
  left: auto;
  right: auto;
  background-color: #ffffff;
  overflow-y: scroll;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.form__hidden {
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
  z-index: -1; }

.form__title {
  font-family: "VTB Group Cond Book", "Open Sans", sans-serif;
  font-size: 24px;
  line-height: 32px; }

.form__required_text {
  color: #e62632;
  margin: 12px 0 4px; }

.form__inputs_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.form__input_wrapper,
.form__textarea_wrapper,
.form__password_wrapper {
  position: relative;
  margin-top: 16px; }

.form__input {
  height: 32px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #dce0eb;
  outline: none;
  padding: 8px; }

.form__label {
  font-size: 14px;
  line-height: 16px;
  position: absolute;
  top: 8px;
  left: 8px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.form__input:focus + .form__label,
.form__input:required:valid + .form__label,
.form__text:focus + .form__label {
  top: -16px;
  font-size: 12px; }

.form__input:required:not(:focus) + .form__label::after {
  content: '*';
  margin-left: 0.25em;
  color: #e62632; }

.form__text {
  width: 100%;
  padding: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #dce0eb;
  outline: none; }

.form__botton_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.form__text_under_password {
  font-size: 7px;
  line-height: 12px;
  margin-top: 5px;
  margin-bottom: 13px; }

.form__chackbox_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.form__checkbox_label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 7px;
  line-height: 12px;
  margin-bottom: 8px; }

.form__checkbox {
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border-radius: 0; }

.form__submit {
  font-family: "VTB Group Cond Book", "Open Sans", sans-serif;
  color: #002882;
  font-size: 15px;
  line-height: 16px;
  background-color: #ffffff;
  border: 1px solid #002882;
  width: 232px;
  border-radius: 16px;
  margin-top: 24px;
  outline: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-top: 7px;
  padding-bottom: 7px; }

.form__submit:hover {
  background-color: #002882;
  color: #ffffff; }

.form__close_btn {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 16px;
  height: 16px;
  border: none;
  cursor: pointer; }

.form__close_btn:hover {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease; }

.form__close_btn::before,
.form__close_btn::after {
  position: absolute;
  content: '';
  top: 8px;
  right: -4px;
  width: 23px;
  height: 2px;
  background-color: #000000; }

.form__close_btn::before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.form__close_btn::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.success {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  z-index: 15;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: auto;
  right: auto;
  width: 100vw;
  max-width: 540px;
  height: 568px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #ffffff;
  padding: 81px 24px 56px;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transition-delay: 0.5s;
       -o-transition-delay: 0.5s;
          transition-delay: 0.5s; }

.success__hidden {
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
  z-index: -1; }

.success__title {
  font-family: "Yeseva One", Georgia, serif;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 50px; }

.success__text {
  font-family: "VTB Group Cond Book", "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin-bottom: 10px; }

.success__img {
  background: -o-linear-gradient(292deg, #ffffff 145px, #dce0eb 145px, #dce0eb 146px, #ffffff 146px);
  background: linear-gradient(158deg, #ffffff 145px, #dce0eb 145px, #dce0eb 146px, #ffffff 146px); }

.success__ok {
  font-family: "VTB Group Cond Book", "Open Sans", sans-serif;
  color: #002882;
  font-size: 15px;
  line-height: 16px;
  background-color: #ffffff;
  border: 1px solid #002882;
  width: 272px;
  border-radius: 16px;
  margin-top: 24px;
  outline: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-top: 7px;
  padding-bottom: 7px; }

.success__ok:hover {
  background-color: #002882;
  color: #ffffff; }

.footer {
  max-width: 540px;
  min-width: 320px;
  width: 100vw;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 16px 24px 24px; }

.footer__logo {
  position: absolute;
  width: 128px;
  top: -32px; }

.footer__location,
.footer__madeby,
.footer__partner p {
  font-size: 8px;
  line-height: 12px; }

.footer__partner {
  margin-top: 12px; }

.footer__partner img {
  margin-top: 5px; }

.footer__made_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
