@font-face {
    font-family: "VTB Group Cond Book";
    src: url("//db.onlinewebfonts.com/t/535f840c3f8648137acc62e170b62847.woff2") format("woff2"),
        url("//db.onlinewebfonts.com/t/535f840c3f8648137acc62e170b62847.woff") format("woff");
    font-weight: 400;
}

$top-bg-line-color: #f3f7fa;
$thin-line-color: #dce0eb;
$bottom-bg-line-color: #cceeff;
$vtb-color: #002882;
$text-color: #2f3441;
$min-m-w: 320px;
$max-m-w: 549px;
$min-d-w: 550px;
$main-font: 'Yeseva One', Georgia, serif;
$second-font: 'VTB Group Cond Book', 'Open Sans', sans-serif;

%small-text {
    font-family: $second-font;
    font-size: 13px;
    line-height: 18px;
    text-align: left;
}

* {
    padding: 0;
    margin: 0;
}

html {
    background-color: #e5e5e5;
    max-width: 540px;
    margin: 0 auto;
    height: 100%;
}

body {
    max-width: 540px;
    position: relative;
    min-width: $min-m-w;
    background-color: #ffffff;
    box-sizing: border-box;
    display: grid;
    grid-template: min-content 1fr min-content;
}

.header {
    position: absolute;
    top: 16px;
    left: 24px;
    z-index: 2;
}

.header__logo {
    z-index: 3;
}

.main {
    position: relative;
    min-width: $min-m-w;
    max-width: 540px;
    width: 100vw;
    margin: 0;
}

.top {
    box-sizing: border-box;
    position: relative;
    padding: 64px 24px 0;
    width: 100%;
    height: 568px;
    z-index: 1;
    background: linear-gradient(
        158deg,
        #ffffff 13%, 
        $top-bg-line-color 13%,
        $top-bg-line-color 50%,
        #ffffff 50%
        );
}

.top::after {
    content: '';
    background: url(../images/dest/top_bg.png) 100% 0 no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 304px;
    right: 0;
    z-index: -1;
}

.top__slogan {
    font-family: $main-font;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: $vtb-color;
}

.top__text {
    @extend %small-text;
    
    margin-top: 16px;
    color: $text-color;
    
    &--200 {
        width: 60%;
    }
}

.top__goToChooseBtn,
.question__btn {
    display: inline-flex;
    font-family: $second-font, 'Open Sans', sans-serif;
    color: $vtb-color;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    align-items: center;
    
    span {
        display: flex;
        height: 56px;
        width: 56px;
        margin-right: 16px;
        justify-content: center;
        align-items: center;
        border: 1px solid $vtb-color;
        border-radius: 50%;
        font-size: 130px;
        
        svg {
            stroke: $vtb-color;
        }
    }
    
    &:hover {
        text-decoration: underline;
        
        span {
            background-color: $vtb-color;
        }
        
        svg {
            stroke: #ffffff;
        }
    }
}

.top__goToChooseBtn {
    margin-top: 65px;
}

.flowers {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 40px;
    // padding: 16px 24px 40px;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(
        158deg,
        #ffffff 200px, 
        #dce0eb 200px,
        #dce0eb 201px,
        #ffffff 201px
        );
}

.flowers__page {
    position: relative;
    align-self: flex-start;
    display: flex;
    color: #6B7683;
    font-family: $main-font;
    align-items: flex-start;
    left: 24px;
    font-size: 36px;
    line-height: 40px;

    &::after {
        position: absolute;
        content: '/04';
        font-size: 12px;
        line-height: 16px;
        top: 3px;
        right: -20px;
    }
}

.flowers__wrapper {
    position: relative;
    display: flex;
    width: 400%;
    left: 150%;
    box-sizing: border-box;
    transition: all 0.7s ease-in-out;
}

.flowers__flower {
    position: relative;
    width: 100%;
    padding: 0 24px;
    
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
}

.flowers__name {
    font-family: $main-font;
    color: $vtb-color;
    font-size: 48px;
    line-height: 40px;
    font-weight: lighter;
    margin: 12px 0 4px;
}

.flowers__img {
    height: 100%;
}

.flowers__description {
    @extend %small-text;

    color: $text-color;

    height: auto;
    overflow: hidden;
    transition: all 0.3s ease;
}

.flowers__description-hidden {
    height: 0;
}

.flowers__order_btn {
    font-family: $second-font;
    color: $vtb-color;
    font-size: 15px;
    line-height: 16px;
    background-color: #ffffff;
    border: 1px solid $vtb-color;
    width: 272px;
    height: 32px;
    border-radius: 16px;
    margin-top: 20px;
    outline: none;

    &:hover {
        background-color: $vtb-color;
        color: #ffffff;
    }
}

.flowers__arrow {
    background-color: transparent;
    position: absolute;
    top: 256px;
    display: flex;
    height: 56px;
    width: 56px;
    justify-content: center;
    align-items: center;
    border: 1px solid $vtb-color;
    border-radius: 50%;
    font-size: 130px;
    cursor: pointer;
    outline: none;
    z-index: 5;
    
    svg {
        stroke: $vtb-color;
    }

    &:not(:disabled):hover {
        background-color: $vtb-color;

        svg {
            stroke: #ffffff;
        }
    }
}

.flowers__prev {
    transform: rotate(90deg);
    left: 24px;
}

.flowers__next {
    transform: rotate(-90deg);
    right: 24px;
}

.flowers__next:disabled,
.flowers__prev:disabled {
    border-color: #6b7683;
    
    svg {
        stroke: #6b7683;
    }
}

.questions {
    display: flex;
    flex-direction: column;
    background: linear-gradient(
        158deg,
        #ffffff 155px, 
        #cceeff 155px,
        #cceeff 375px,
        #ffffff 375px,
        #ffffff 440px,
        #dce0eb 440px,
        #dce0eb 441px,
        #ffffff 441px
        );
}

.question__btn {
    margin: 0 24px 32px;
}

.questions__item {
    max-height: 64px;
    padding: 20px 24px 0;
    box-sizing: border-box;
    border-bottom: 1px solid $vtb-color;
    overflow: hidden;
    transition: all 0.5s linear;
    transition-delay: 0;
    position: relative;
}

.questions__question {
    @extend %small-text;
    
    width: 67.5%;
    display: inline-block;
    color: $vtb-color;
    cursor: pointer;

    font-weight: 600;

    &::after {
        content: '\2193';
        font-size: 10px;
        color: $vtb-color;
        position: absolute;
        box-sizing: border-box;
        text-align: center;
        border-radius: 50%;
        top: 20px;
        right: 24px;
        width: 24px;
        height: 24px;
        border: 0.5px solid $vtb-color;
        transition: all 0.3s ease;
    }
}

.questions__answer {
    @extend %small-text;

    color: $vtb-color;
    margin: 25px 0 20px;
}

.questions__item--opened {
    max-height: 220px; 

    & .questions__question::after {
        transform: rotate(180deg);
    }
}


.questions__any_questions {
    height: 192px;
    padding: 20px 24px;
    font-family: $main-font;
    font-size: 12px;
    line-height: 16px;
    color: $vtb-color;

    background: url(../images/dest/bottom_bg.png) 100% 0% no-repeat;

    & p {
        width: 60%;
        min-width: 200px;
        font-weight: 400;
    }
}

.form {
    display: flex;
    flex-direction: column;
    z-index: 10;
    max-width: 540px;
    min-width: $min-m-w;
    width: 100vw;
    height: 100%;
    box-sizing: border-box;
    padding: 16px 24px 24px;
    position: fixed;
    top: 0;
    bottom: auto;
    left: auto;
    right: auto;
    background-color: #ffffff;
    overflow-y: scroll;
    transform-origin: 50% 50%;
    transition: all 0.5s ease;
}

.form__hidden {
    transform: scale(0.8);
    z-index: -1;
}

.form__title {
    font-family: $second-font;
    font-size: 24px;
    line-height: 32px;
}

.form__required_text {
    @extend %small-text;
    color: #e62632;
    margin: 12px 0 4px;
}

.form__inputs_container {
    display: flex;
    flex-direction: column;
}

.form__input_wrapper,
.form__textarea_wrapper,
.form__password_wrapper {
    position: relative;
    margin-top: 16px;
}

.form__input {
    height: 32px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #dce0eb;
    outline: none;
    padding: 8px;
}

.form__label {
    @extend %small-text;
    
    font-size: 14px;
    line-height: 16px;
    position: absolute;
    top: 8px;
    left: 8px;
    transition: all 0.3s ease;
}

.form__input:focus + .form__label,
.form__input:required:valid + .form__label,
.form__text:focus + .form__label {
    top: -16px;
    font-size: 12px;
}

.form__input:required:not(:focus) + .form__label::after {
    content: '*';
    margin-left: 0.25em;
    color: #e62632;
}

.form__text {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #dce0eb;
    outline: none;
}

.form__botton_container {
    display: flex;
    flex-direction: column;
}

.form__text_under_password {
    @extend %small-text;
    
    font-size: 7px;
    line-height: 12px;
    margin-top: 5px;
    margin-bottom: 13px;
}

.form__chackbox_wrapper {
    display: flex;
    flex-direction: column;
}

.form__checkbox_label {
    display: flex;
    align-items: center;
    @extend %small-text;
    
    font-size: 7px;
    line-height: 12px;
    margin-bottom: 8px;
}

.form__checkbox {
    margin-right: 8px;
    width: 16px;
    height: 16px;
    border-radius: 0;
}

.form__submit {
    font-family: $second-font;
    color: $vtb-color;
    font-size: 15px;
    line-height: 16px;
    background-color: #ffffff;
    border: 1px solid $vtb-color;
    width: 232px;
    border-radius: 16px;
    margin-top: 24px;
    outline: none;
    align-self: center;
    padding-top: 7px;
    padding-bottom: 7px;
}

.form__submit:hover {
    background-color: $vtb-color;
    color: #ffffff;
}

.form__close_btn {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 16px;
    height: 16px;
    border: none;
    cursor: pointer;
}

.form__close_btn:hover {
    transform: rotate(360deg);
    transition: all 0.7s ease;
}

.form__close_btn::before,
.form__close_btn::after {
    position: absolute;
    content: '';
    top: 8px;
    right: -4px;
    width: 23px;
    height: 2px;
    background-color: #000000;
}

.form__close_btn::before {
    transform: rotate(-45deg);
}
.form__close_btn::after {
    transform: rotate(45deg);
}

.success {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 15;
    align-items: center;
    top: 0;
    left: auto;
    right: auto;
    width: 100vw;
    max-width: 540px;

    height: 568px;
    box-sizing: border-box;
    background: #ffffff;
    padding: 81px 24px 56px;
    transform-origin: 50% 50%;
    transition: all 0.5s ease;
    transition-delay: 0.5s;
}

.success__hidden {
    transform: scale(0.8);
    z-index: -1;
}

.success__title {
    font-family: $main-font;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 50px;
}

.success__text {
    font-family: $second-font;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin-bottom: 10px; 
}

.success__img {
    background: linear-gradient(
        158deg,
        #ffffff 145px, 
        #dce0eb 145px,
        #dce0eb 146px,
        #ffffff 146px
        );
}

.success__ok {
    font-family: $second-font;
    color: $vtb-color;
    font-size: 15px;
    line-height: 16px;
    background-color: #ffffff;
    border: 1px solid $vtb-color;
    width: 272px;
    border-radius: 16px;
    margin-top: 24px;
    outline: none;
    align-self: center;
    padding-top: 7px;
    padding-bottom: 7px;
}

.success__ok:hover {
    background-color: $vtb-color;
    color: #ffffff;
}

.footer {
    max-width: 540px;

    min-width: $min-m-w;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 16px 24px 24px;
}

.footer__logo {
    position: absolute;
    width: 128px;
    top: -32px;
}

.footer__location,
.footer__madeby,
.footer__partner p {
    @extend %small-text;
    font-size: 8px;
    line-height: 12px;

}

.footer__partner {
    margin-top: 12px;
}

.footer__partner img {
    margin-top: 5px;
}

.footer__made_wrapper {
    display: flex;
    justify-content: space-between;
}